.AtC {
    background-color: rgb(225, 228, 64);
    border-radius: 17px;
    border: none;
    height: 29px;
    width: 114px;
    cursor: pointer;
    margin-right: 7px;
}

.Buy {
    background-color: rgb(240, 129, 50);
    border-radius: 17px;
    border: none;
    height: 29px;
    width: 104px;
    cursor: pointer;
}